body {
    margin: 0px;
    font-family: 'segoe ui';
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(black, ease, rgb(230, 230, 230));
}

#exam-container {
    margin: 0px;
}

ol {
    margin: 0px;
}

body {
    background: rgb(230, 230, 230);
}

.odd,
.even {
    display: inline-flex;
    min-width: 100%;
    padding: 15px 0px 15px 0px;
}

.odd {
    background: rgb(200, 200, 200);
}

.even {
    background: rgb(230, 230, 230);
}

.question-number {
    padding: 0px 15px 0px 15px;
}

.answer-container {
    width: fit-content;
}

.a {
    list-style-type: upper-alpha;
    display: block;
}

.a:hover,
.a>label:hover,
.a>input:hover {
    color: gray;
    cursor: pointer;
}

.a.incorrect {
    color: red;
}

.a.correct {
    color: green;
}

#loader {
    max-height: 100vh;
    max-width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-group {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.button-group>input[type="button"] {
    text-align: center;
}

input[type="button"] {
    //position: absolute;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    left: calc(50vw - 190px/2);
    background-color: rgba(22, 169, 255, 1);
    color: white;
    margin: 20px;
}

input[type="button"]:hover {
    background-color: rgba(22, 169, 255, 0.75)
}

.show {
    opacity: 1;
    transition: opacity 750ms ease-in;
}

.hide {
    opacity: 0;
    transition: opacity 750ms ease-out;
}